<% provide(:title, t("help") )%>
<h1><%= t "help" %></h1>
<p>
  <%= raw t :link_help, anchor: link_to(t("get_help"),"https://github.com/mhartl/sample_app_6th_ed/blob/master/HELP.md"),
    anchor1: link_to(t("ror_book"),"https://www.railstutorial.org/book") %>
</p>
