<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if show_delete? user %>
   | <%= link_to t("delete"), user, method: :delete, data: {confirm: t("delete_sure")} %>
  <% end %>
</li>
